@import "~bulma/sass/utilities/initial-variables.sass";
@import "../variables.scss";

.section.faq {
  background-color: #fff;
  padding: 100px 0;

  @media screen and (min-width: $tablet) {
    background-color: #f7f7f7;
  }

  .height-enter-active, .height-leave-active {
    transition: height .3s linear;
    overflow: hidden;
  }

  .container {
    text-align: center;
    padding: 0 30px;

    @media screen and (min-width: $tablet) {
      font-size: 36px;
      max-width: 840px;
    }
  }

  h2 {
    color: #000;
    text-align: center;
    font-family: 'neuzeit_grotesk_regular';
    opacity: 0.69;
    font-size: 22px;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
      font-size: 36px;
      margin-bottom: 60px;
    }
  }

  .faq-content {
    text-align: left;

    li {
      border-bottom: 1px solid #bdbdbd;
      margin-bottom: 20px;
      padding-bottom: 18px;
      overflow: hidden;

      &:last-child {
        border: none;
      }

      a {
        font-family: 'neuzeit_grotesk_regular';
        font-size: 28px;
        position: relative;
        padding-left: 50px;
        color: #676767;
        font-size: 17px;
        display: block;
        cursor: pointer;

        @media screen and (min-width: $tablet) {
          font-family: "neuzeitgroteskblack";
          font-size: 28px;

        }

        &::before, &::after {
          background-color: #ff085a;
          position: absolute;
          content: "";
          width: 4px;
          height: 15px;
          left: 8px;
          top: 8px;
          transition: all 0.25s ease-in-out 0s;
        }

        &::after {
          transform: rotate(90deg);
        }

        &.selected {
          &::before {
            transform: translateY(100%);
            opacity: 0;
          }
        }
      }

      p {
        margin-top: 20px;
        margin-left: 30px;
        font-size: 18px;
        font-family: 'neuzeit_grotesk_light';
      }
    }
  }

  a.button {
    border: 2px solid #9f9f9f;
    border-radius: 15px;
    display: inline-block;
    font-family: "neuzeitgroteskblack";
    font-weight: bold;
    color: #008ffd;

    height: auto;
    line-height: 1.6em;
    margin-top: 20px;
    font-size: 12px;
    padding: 10px 28px;

    @media screen and (min-width: $tablet) {
      font-size: 15px;
      padding: 10px 82px;
    }
  }
}