// @font-face {
//   font-family: 'neuzeit_grotesk_light';
//   src: url('neuzeit-grotesk-light-webfont.eot');
//   src: url('neuzeit-grotesk-light-webfont.eot?#iefix') format('embedded-opentype'),
//        url('neuzeit-grotesk-light-webfont.woff2') format('woff2'),
//        url('neuzeit-grotesk-light-webfont.woff') format('woff'),
//        url('neuzeit-grotesk-light-webfont.ttf') format('truetype'),
//        url('neuzeit-grotesk-light-webfont.svg#neuzeit_grotesklight') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'neuzeitgroteskblack';
  src: url('../assets/fonts/neuzeitgroteskblack.eot');
  src: url('../assets/fonts/neuzeitgroteskblack.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/neuzeitgroteskblack.woff2') format('woff2'),
       url('../assets/fonts/neuzeitgroteskblack.woff') format('woff'),
       url('../assets/fonts/neuzeitgroteskblack.ttf') format('truetype'),
       url('../assets/fonts/neuzeitgroteskblack.svg#neuzeitgroteskblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'Univers-Cn';
//   src: url('UniversLTStd-Cn.eot?#iefix') format('embedded-opentype'),
//        url('UniversLTStd-Cn.otf')  format('opentype'),
//        url('UniversLTStd-Cn.woff') format('woff'),
//        url('UniversLTStd-Cn.ttf')  format('truetype'),
//        url('UniversLTStd-Cn.svg#UniversLTStd-Cn') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }