@charset 'UTF-8';

/**
 * XPAND | Built with Slate
 */
$gap: 10px;
$fullhd-enabled: false;

@import "~bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: $tablet;
@import "~bulma/bulma";

$large-phone: '576px';

@import "sections/header";
@import "sections/footer";

// Overwrites
body {
  font-family: 'neuzeit_grotesk_light';
}

input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// Utility class
.text-center {
  text-align: center;
}

.rows {
  flex-wrap: wrap;

  .row {
    width: 100%;
  }
}

.clearfix {
  clear: both;
}

.icon-minus:before {
  content: "\e90d";
}

.icon-plus:before {
  content: "\e910";
}

.hidden {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

[v-cloak] {
  display: none !important;
}

// Challenge page overwrites
.shopify-challenge__container {
  max-width: 500px;
  margin: 0 auto;
  padding: 100px 0 200px 0;

  @media screen and (min-width: $tablet) {
    padding: 160px 0 320px 0;
  }

  p {
    font-family: 'neuzeit_grotesk_light';
    margin: 0 0 15px;
    font-style: normal;
    line-height: 1.6em;
    font-size: 15px;
  }

  input[type="submit"] {
    // margin: 0 auto;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    background: #36807c;
    color: #ffffff;
    border: 1px solid #36807c;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
    min-height: 42px;
    line-height: 1.2;
    vertical-align: top;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 3px;
  }

  iframe {
    height: 78px;
  }
}

// Global component style
.cart-item {
  font-family: "neuzeit_grotesk_light";
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cccccc;

  &:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  a {
    display: flex;
    width: 100%;
  }

  .image {
    max-width: 100px;
    min-width: 100px;
    padding-right: 10px;
  }

  .text {
    font-weight: normal;
    font-size: 14px;;
    line-height: 1.6em;
    color: #333333;

    @media screen and (min-width: $large-phone) {
      font-size: 16px;
    }

    .price {
      color: #333333;
      font-weight: 700;
      letter-spacing: 1px;

      .original-amount {
        font-weight: normal;
        text-decoration: line-through;
      }
    }
  }

  .quantity {
    padding-left: 100px;
    margin-bottom: 10px;

    input {
      height: 30px;
      font-size: 15px;
      width: 40px;
      text-align: center;
    }

    a {
      height: 30px;
      width: 32px;
      font-size: 12px;
      background-color: #f2f2f2;
      padding: 0px;
      font-weight: 300;
    }
  }
}