@charset 'UTF-8';

/**
 * XPAND | Built with Slate
 */
$gap: 10px;
$fullhd-enabled: false;

@import "~bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: $tablet;
@import "~bulma/bulma";

$large-phone: '576px';

@import "sections/header";
@import "sections/footer";

[v-cloak] {
  display: none;
}

input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-center {
  text-align: center;
}

.rows {
  flex-wrap: wrap;

  .row {
    width: 100%;
  }
}

.clearfix {
  clear: both;
}