@import "~bulma/sass/utilities/initial-variables.sass";
@import "../variables.scss";

.account {
  h1 {
    font-family: neuzeit_grotesk_regular;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 auto 10px;
    padding: 0;
    font-weight: bold;
    display: block;

    @media screen and (min-width: $tablet) {
      font-size: 36px;
      margin: 0 auto 50px;
      margin: 0 auto 30px;
      display: inline-block;
    }
  }

  .logout-link {
    float: right;
    text-transform: uppercase;
    font-family: 'neuzeit_grotesk_light';
    font-size: 15px;
    margin-bottom: 30px;

    display: block;
    width: 100%;
    text-align: right;

    a {
      color: #03a196;
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
      display: inline-block;
      width: 300px;
    }
  }

  .button {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    display: inline-block;
    background: #36807c;
    color: #ffffff;
    border: 1px solid #36807c;
    padding: 0 20px;
    text-align: center;
    cursor: pointer;
    min-height: 42px;
    height: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    font-size: 14px;

    &:hover {
      background: #1a4215;
      border: 1px solid #1a4215;
    }
  }

  .sidebar {
    padding-bottom: 0;

    h4 {
      font-family: neuzeit_grotesk_regular;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 2px;
      margin: 0 0 0.5em 0;
      padding: 7px 0;

      @media screen and (min-width: $tablet) {
        font-size: 25px;
      }
    }

    p {
      margin: 0 0 5px;
      line-height: 1.6em;
      font-family: 'neuzeit_grotesk_light';
      font-size: 15px;
    }

    a {
      color: #03a196;
    }
  }

  .account-info {
    @media screen and (min-width: $tablet) {
      border-left: 1px solid #aaaaaa;
    }

    h2 {
      font-family: neuzeit_grotesk_regular;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 2px;
      margin: 0 0 0.5em 0;
      padding: 7px 0;

      @media screen and (min-width: $tablet) {
        font-size: 25px;
        font-size: 20px;
      }
    }

    p {
      margin: 0 0 15px;
      line-height: 1.6em;
      font-family: 'neuzeit_grotesk_light';
      font-size: 15px;
    }

    table {
      width: 100%;

      tr {
        border-top: 1px solid #DCDCDC;

        &:last-child {
          border-bottom: 1px solid #DCDCDC;
        }

        th {
          border-right: 1px solid #DCDCDC;
          padding: 2px;
          font-weight: 700;
          background: #f9f9f9;
          text-align: left;
          font-family: 'neuzeit_grotesk_light';
          font-size: 15px;

          &:first-child {
            border-left: 1px solid #DCDCDC;
          }
        }

        td {
          border-right: 1px solid #DCDCDC;
          padding: 4px;
          font-family: 'neuzeit_grotesk_light';
          font-size: 15px;
          color: #333;

          &:first-child {
            border-left: 1px solid #DCDCDC;
          }
        }

        a {
          color: #03a196;
        }
      }
    }
  }  
}