@import "~bulma/sass/utilities/initial-variables.sass";
@import "../variables.scss";

.section.text-banner {
  h2 {
    font-family: "neuzeitgroteskblack";
    letter-spacing: 0.1px;
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    line-height: 1.1;
    margin-top: 0px;
    margin-bottom: 10px;

    @media screen and (min-width: $tablet) {
      font-size: 32px;
      margin-bottom: 20px;
    }
  }

  p {
    font-family: "neuzeit_grotesk_light" ;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
      font-size: 18px;
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }

  a {
    color: white;
    background-color: #008ffd;
    border: 1px solid #008ffd;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1.2px;
    width: 240px;
  }
}

.section.featured-box {
  background-color: rgb(241, 242, 242);

  .item {
    background-size: 100%;
    width: 100%;
    height: 420px;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0px 20px 0px;
    position: relative;
    margin: 0 auto;
    max-width: 420px;

    @media screen and (min-width: $tablet) {
      max-width: none;
      padding-top: 70px;
      height: 570px;
    }
  }

  h3 {
    font-weight: bold;
    font-size: 28px;
    font-family: neuzeitgroteskblack;
    letter-spacing: 0.1px;
    line-height: 30px;
    color: #333333;
    text-align: center;
    font-style: normal;
  }

  .foot {
    width: 100%;
    position: absolute;
    bottom: 40px;
    text-align: center;

    @media screen and (min-width: $tablet) {
      bottom: 64px;
    }

    a {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      background: #0090fc;
      border: none;
      color: #fff;
      width: 186px;
      font-weight: bold;
      letter-spacing: 1.2px;
    }
  }
}

.stamped-review-wrapper {
  padding-top: 40px;
  min-height: 370px;

  h2 {
    font-family: neuzeit_grotesk_regular;
    font-size: 28px;
    font-weight: bold;
    color: #008ffd;
    letter-spacing: 0;
    margin-bottom: 30px;
    text-align: center;
  }

  .reviews {
    &:after {
      content: "\0020";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }

  #stamped-reviews-widget {
    margin-bottom: 60px;

    .stamped-visual-gallery-media {
      width: 90%;
      height: 90%;
      margin: auto;
    }

    .stamped-visual-gallery-feed {
      height: 200px !important;
      margin: 0 auto;
      width: 800px;

      @media screen and (max-width: 360px) {
        height: 120px !important;
      }
    }

    .stamped-visual-gallery-nav-previous {
      left: -60px;
    }

    .stamped-visual-gallery-nav-next {
      right: -60px;
    }

    .stamped-visual-gallery-nav svg {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 45px;
      margin: -20px 0 0 -9px;
    }

    .stamped-visual-gallery-media-block {
      width: 200px !important;
      height: 200px !important;

      @media screen and (max-width: 991px) {
        width: 160px !important;
        height: 160px !important;
      }

      @media screen and (max-width: 360px) {
        width: 130px !important;
        height: 130px !important;
      }
    }
  }
}

.section.three-item-banner {
  background-color: #00837e;

  h2 {
    font-size: 30px;
    line-height: 28px;
    text-align: left;
    padding: 0px 20px;
    color: white;
    font-family: 'neuzeitgroteskblack';
    margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
      text-align: center;
    }
  }

  .item {
    height: 160px;

    .number-1, .number-2, .number-3 {
      display: block;
      width: 50px;
      height: 50px;
      margin: 0 calc(50% - 25px) 34px;
    }

    .number-1 {
      background: url('../../assets/icons/cinemagraph_sprites.png') -5px -96px;
    }

    .number-2 {
      background: url('../../assets/icons/cinemagraph_sprites.png') -66px -96px;
    }

    .number-3 {
      background: url('../../assets/icons/cinemagraph_sprites.png') -92px -10px;
    }

    p {
      text-align: center;
      font-size: 20px;
      line-height: 20px;
      color: white;
      font-family: 'neuzeit_grotesk_regular'
    }
  }

  .swiper-wrapper {
    padding-bottom: 20px;
  }

  .swiper-pagination {
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  .cta {
    display: none;
    text-align: center;

    a {
      width: 243px;
      font-size: 12px;
      background-color: #ff085a;
      border: none;
      font-weight: bold;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: white;
      height: 40px;
    }

    @media screen and (min-width: $tablet) {
      display: block;
    }
  }
}

.section.image-with-text {
  h2 {
    margin-bottom: 42px;
    font-size: 30px;
    color: #211f1e;
    font-family: "neuzeitgroteskblack";
    text-align: center;
  }

  .image-wrapper {
    margin: 0 -1.5em;
  }

  img {
    height: 60px;
    width: 100%;
  }

  p {
    margin-top: 40px;
    text-align: center;

    a {
      height: 40px;
      background: #ff085a;
      border: 0;
      color: #fff;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      letter-spacing: 1.2;
      font-weight: bold;
      width: 180px;
    }
  }
}

.section.featured-products {
  background-color: #f3f4f4;
  padding: 50px 0px;

  @media screen and (min-width: $tablet) {
    padding: 3rem 1.5rem;
  }

  h2 {
    font-size: 32px;
    font-family: "neuzeitgroteskblack";
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin-bottom: 30px;
  }

  .columns {
    flex-wrap: wrap;
    max-width: 992px;
    margin: 0 auto;
  }

  .product {
    position: relative;
    width: 300px;
    margin: 0 auto;

    @media screen and (min-width: $large-phone) {
      width: 420px;
    }

    @media screen and (min-width: $tablet) {
      width: 100%;
    }

    .info {
      position: absolute;
      padding: 20px;
      width: 100%;
    }

    h3, p {
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: 'Univers-Cn';

      @media screen and (min-width: $large-phone) {
        display: inline;
      }
    }

    p {
      font-weight: bold;

      @media screen and (min-width: $large-phone) {
        margin-left: 30px;
      }
    }

    img {
      display: block;
      margin: 0 auto;
    }

    .foot {
      position: absolute;
      bottom: 0;
      line-height: 30px;
      padding: 15px 20px;
      border-top: 1px solid #fff;
      width: 100%;

      a {
        line-height: 30px;
        font-size: 18px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: white;
      }
    }
  }

  p.link-button {
    text-align: center;
    margin-top: 30px;

    a {
      height: 42px;
      padding: 0 20px;
      line-height: 40px;
      background: #ff085a;
      border: 0;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      letter-spacing: 1px;
    }
  }
}

.section.icon-swiper {
  padding: 30px 0px;
  background-color: #f1f2f2;

  @media screen and (min-width: $tablet) {
    padding: 3rem 1.5rem;
  }

  .swiper-wrapper {
    padding-bottom: 50px;

    @media screen and (min-width: $tablet) {
      padding-bottom: 0px;
    }
  }

  .swiper-pagination {
    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  .item {
    vertical-align: middle;
    display: block;

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 10px;
      height: 50px;
    }

    p {
      text-align: center;
      font-size: 15px;
      color: #878787;
      font-family: 'neuzeit_grotesk_light';
      line-height: 18px;
    }
  }
}

.section.newsletter {
  background-color: #e5e5e5;
  color: black;

  .container {
    text-align: center;
  }

  h2 {
    font-family: "neuzeitgroteskblack";
    letter-spacing: 0.1px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 0.75em;
  }

  p {
    font-family: 'neuzeit_grotesk_light';
  }

  form {
    margin-top: 15px;

    input[type="email"] {
      width: 100%;
      height: 42px;
      padding: 0 10px;
      border: 0;
      outline: none;
      background: #fff;
      color: #444;
      font-size: 13px;
      font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin-bottom: 15px;
      border-radius: 3px;

      @media screen and (min-width: $tablet) {
        width: 320px;
      }
    }

    button[type="submit"] {
      width: 100%;
      background: #36807c;
      color: white;
      border: 0;
      font-size: 14px;
      height: 42px;
      padding: 0 20px;
      line-height: 40px;
      font-weight: bold;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      letter-spacing: 1px;

      @media screen and (min-width: $tablet) {
        width: 120px;
      }
    }
  }
}