.wide {
  .title {
    h1 {
      font-family: neuzeit_grotesk_regular;
      font-size: 36px;
      font-weight: bold;
      font-style: normal;
      text-transform: none;
      line-height: 1.5;
      color: #333333;
      display: block;
      letter-spacing: 2px;
      margin: 0 auto 15px;
      font-weight: bold;
      padding-top: 4px;
    }
  }

  .page-content {
    .container__image {
      display: inline-block;
      vertical-align: top;
      width: 36%;
      margin: 0 30px 20px 0;
    }

    .container__text {
      display: inline-block;
      width: 36%;

      h2 {
        font-size: 32px;
        font-family: "neuzeitgroteskblack";
        letter-spacing: 0.1px;
        margin-bottom: 0.75em;
      }

      p {
        margin: 0 0 15px;
        font-style: normal;
        line-height: 1.6em;
      }
    }
  }
}