@import "~bulma/sass/utilities/initial-variables.sass";
@import "../variables.scss";
@import "../sections/cart-control";

.product-simple {
  &.section {
    padding: 3rem 2.6rem;

    @media screen and (min-width: $tablet) {
      padding: 3rem 1.5rem;
    }
  }

  .breadcrumb {
    height: 30px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;

    @media screen and (min-width: $tablet) {
      text-align: right;
    }

    .breadcrumb-link, .breadcrumb-divider {
      color: #03a196;
      font-family: 'neuzeit_grotesk_light';
      text-transform: uppercase;
      font-size: 11px;
      display: inline;
    }

    .icon-right-arrow {
      color: #03a196;

      &:before {
        content: "\e911";
        font-family: "turbo";
        display: inline-block;
      }
    }

    .icon-left-arrow {
      color: #03a196;

      &:before {
        content: "\e90a";
        font-family: "turbo";
        display: inline-block;

      }
    }
  }

  .swiper-container {
    height: 400px;

    @media screen and (min-width: $large-phone) {
      height: 460px;
    }

    @media screen and (min-width: $tablet) {
      width: 280px;
      height: 280px;
    }

    @media screen and (min-width: 860px) {
      width: 360px;
      height: 360px;
    }

    @media screen and (min-width: 960px) {
      width: 476px;
      height: 476px;
    }

    .swiper-pagination  {
      @media screen and (min-width: $tablet) {
        display: none;
      }
    }
  }

  .swiper-slide img {
    display: block;
    margin: 0 auto;
    height: auto;

    @media screen and (min-width: $tablet) {
      height: auto;
      width: 100%;
    }
  }

  .thumbnails {
    text-align: center;
  }

  .share-btn {
    display: inline-block;
    text-align: center;
    font-size: 1.2em;
    margin-right: 6px;
    margin-bottom: 10px;

    a {
      color: white;
      padding: 10px 10px 8px 10px;
      border: solid 1px #e2e2e2;
      display: inline-block;
      border-radius: 100px;
      width: 42px;
      height: 42px;
      font-size: 16px;
      -webkit-transition: all 500ms ease 0s;
      -moz-transition: all 500ms ease 0s;
      -ms-transition: all 500ms ease 0s;
      -o-transition: all 500ms ease 0s;
      transition: all 500ms ease 0s;

      &.icon-twitter-share:hover {
        background-color: #09AEEC;
        border-color: #09AEEC;
      }

      &.icon-facebook-share:hover {
        background-color: #49659D;
        border-color: #49659D;
      }

      &.icon-pinterest-share:hover {
        background-color: #CB1F2A;
        border-color: #CB1F2A;
      }

      &.icon-gplus-share:hover {
        background-color: #CC3A2B;
        border-color: #CC3A2B;
      }

      &.icon-mail-share:hover {
        background-color: #888;
        border-color: #888;
      }

      &:hover {
        &:before {
          color: white;
        }
      }
    }
  }

  .social_buttons {
    text-align: center;

    @media screen and (min-width: $tablet) {
      text-align: left;
    }
  }

  .icon-twitter-share:before {
    content: "\ea96";
    color: #09AEEC;
  }

  .icon-facebook-share:before {
    content: "\ea90";
    color: #49659D;
  }

  .icon-pinterest-share:before {
    content: "\e906";
    color: #CB1F2A;
  }

  .icon-gplus-share:before {
    content: "\e907";
    color: #CC3A2B;
  }

  .icon-mail-share:before {
    content: "\e905";
    color: #888;
  }

  h1 {
    font-family: 'neuzeitgroteskblack';
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    letter-spacing: 0.3px;
    width: 200px;
    margin: 0 0 10px 0;
  }

  .money {
    font-family: HelveticaNeue;
    font-size: 14px;
    letter-spacing: 0.1px;
    font-weight: bold;
    color: #333;
  }

  h2 {
    font-family: "neuzeitgroteskblack";
    letter-spacing: 0.1px;
    font-size: 32px;
    line-height: 1.5em;
    margin: 2rem 0;
    color: #333;
  }

  h4 {
    font-family: neuzeit_grotesk_regular;
    font-size: 110%;
    line-height: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 10px 0;
    color: #333;

    @media screen and (min-width: $tablet) {
      font-size: 25px;
    }
  }

  p {
    margin: 0 0 15px;
    font-style: normal;
    line-height: 1.6em;
    font-family: 'neuzeit_grotesk_light';
    color: #333;

    a {
      color: #03a196;
    }
  }

  .related-items-container {
    text-align: center;
    padding: 20px 0;

    .related-items {
      flex-wrap: wrap;
    }

    .title {
      font-family: neuzeit_grotesk_regular;
      font-size: 36px;
      font-weight: bold;
      font-style: normal;
      text-transform: none;
      line-height: 1.5;
      color: #333333;
      display: block;
      letter-spacing: 2px;
      font-size: 28px;
    }

    .product-avatar {
      position: relative;

      img {
        @media screen and (min-width: $tablet) {
          width: 100%;

        }
      }

      .title {
        margin-bottom: 5px;
        font-size: inherit;
        line-height: 1.2;
        letter-spacing: 2px;
        font-weight: bold;
        font-family: neuzeit_grotesk_regular;

        @media screen and (min-width: $tablet) {
          display: none;
        }
      }

      .price {
        margin: 0 0 15px;
        font-style: normal;
        line-height: 1.6em;
        font-family: 'neuzeit_grotesk_light';
        color: #03a196;

        @media screen and (min-width: $tablet) {
          display: none;
        }
      }

      .thumbnail-overlay {
        background: rgba(0,0,0,0.7);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.3s ease-in;
        display: none;

        @media screen and (min-width: $tablet) {
          display: block;
        }

        .info {
          top: 50%;
          position: relative;
          padding:0 30px;
          opacity: 0;
          transform: translate3d(0, -70%, 0);
          transition: opacity 0.3s ease-out, transform 0.3s ease-out;

          .title {
            display: block;
            margin-bottom: 5px;
            font-size: inherit;
            line-height: 1.2;
            color: #fff;
          }

          .price {
            display: block;
          }
        }

        &:hover {
          opacity: 1;
          transition: opacity 0.3s ease-in;

          .info {
            opacity: 1;
            transform: translate3d(0, -40%, 0);
            transition: opacity 0.3s ease-out, transform 0.3s ease-out;
          }

        }

      }
    }
  }
}