@import "~bulma/sass/utilities/initial-variables.sass";
@import "../variables.scss";

@import "../sections/stamped-review.scss";
@import "../sections/faq.scss";

.product {
  background-color: #f1f2f2;
  padding: 0;
  border-bottom: 1px solid #f1f2f2;

  @media screen and (min-width: $tablet) {
    padding: 1.5rem 1.5rem;
  }

  .desktop {
    display: none;

    @media screen and (min-width: $tablet) {
      display: inline-block;
      margin-left: 15px;
      margin-bottom: 15px;
    }
  }

  .mobile {
    display: block;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }

  .columns:not(.product-gallery) {
    width: 100%;
    margin: 0 auto;
  }

  .columns {
    margin-left: 0;
    margin-right: 0;

    @media screen and (min-width: $tablet) {
      margin-left: -0.75rem;
      margin-right: -0.75rem;
    }
  }

  .p20 {
    padding: 20px;
  }

  .column.gallery {
    margin: 0 auto;
    max-width: 100%;
    padding: 0;

    @media screen and (min-width: $tablet) {
      max-width: 560px;
      padding: 0.75rem;
    }
  }

  .shoes-types {
    margin: 0px;
    padding-top: 10px;

    ul {
      text-align: center;

      li {
        display: inline-flex;
        float: none;
        text-align: left;
        margin: 0 auto;
        position: relative;
        padding: 3px;

        @media screen and (min-width: $tablet) {
          display: inline-block;
          padding: 3px 0;
        }

        span {
          padding-left: 3px;
          text-transform: uppercase;
        }

        img {
          width: 38px;
          margin: 0 auto;
        }

        span {
          text-align: center;
          letter-spacing: 0.1px;
          color: #000000;
          font-size: 10px;
          font-weight: bold;
          font-family: 'neuzeitgroteskblack';
          margin-top:  12px;
        }
      }
    }

    @media screen and (min-width: $tablet) {
      ul {
        margin-top: 0;

        li {
          width: 70px;
          text-align: center;

          img {
            display: block;
          }

          span {
            position: relative;
            margin: 0;
          }

        }
      }
    }
  }

  .column.controls {
    margin: 0;
    max-width: 100%;
    background-color: white;

    @media screen and (min-width: $tablet) {
      background-color: inherit;
      margin: 0 auto;
      max-width: 360px;
    }

    .brief {
      h1 {
        font-family: 'neuzeitgroteskblack';
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.3px;
        width: auto;
        padding-top: 10px;
        margin-bottom: 10px;
        color: black;

        @media screen and (min-width: $tablet) {
          width: 200px;
          padding-top: 0;
        }
      }

      .price-note {
        display: block;
        color: #898989;
        font-size: 15px;
        font-family: 'neuzeit_grotesk_light';
        margin-bottom: 15px;

        @media screen and (min-width: $tablet) {
          display: none;
        }
      }
    }

    .stamped-main-badge {
      margin-bottom: 25px;
      margin-left: 0;
    }

    .stamped-product-reviews-badge .stamped-badge-caption {
      font-weight: bold;
      font-family: HelveticaNeue;
      margin-left: 15px;

      @media screen and (min-width: $tablet) {
        display: inline-block !important;;
      }
    }

    .price {
      font-family: HelveticaNeue;
      font-size: 20px;
      letter-spacing: 0.1px;
      font-weight: bold;

      @media screen and (min-width: $tablet) {
        font-size: 14px;
      }

      .price-note {
        color: #898989;
        font-size: 15px;
        font-family: 'neuzeit_grotesk_light';
      }
    }

    .selected-swatch-text {
      font-weight: bold;
      text-transform: uppercase;
      font-family: 'neuzeitgroteskblack';
      font-size: 12px;
      letter-spacing: 0.1px;
      margin-bottom: 10px;

      @media screen and (min-width: $tablet) {
        margin-bottom: 38px;
        margin-left: 0;
      }
    }

    .add-to-cart {
      margin-bottom: 10px;

      @media screen and (min-width: $tablet) {
        margin-bottom: 40px;
      }

      .icon-plus, .icon-minus, input[name="quantity"] {
        max-width: 33px;
        border: 2px solid #000;
        border-radius: 5px;
        color: #000;
        line-height: 42px;
        font-size: 18px;
        background: #f2f2f2;
        font-weight: 300;
        cursor: pointer;
        height: 42px;
        width: 25%;
        text-align: center;
        background-color: white;

        &:before {
          font-weight: bold;
        }

        @media screen and (min-width: $tablet) {
          background-color: inherit;
        }
      }

      input[type=number] {
        max-width: 43px;
        font-weight: bold;
        margin: 0 6px;
      }

      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }

      button {
        float: right;
        width: calc(100% - 140px);
        background-color: #0090fc;
        border: 1px solid #0090fc;
        border-radius: 5px;
        color: #fff;
        text-transform: uppercase;
        font-family: "neuzeitgroteskblack";
        font-weight: bold;
        letter-spacing: 1.2px;
        padding: 9px 20px;
        height: 41px;

        .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          margin: auto;

          path {
            stroke-dasharray: 19.79 19.79;
            stroke-dashoffset: 19.79;
            opacity: 0;
          }
        }

        span {
          animation-duration: 0.8s;
          animation-name: fadeInDown;
        }

        &.loading {
          span {
            animation-duration: 0.8s;
            animation-name: zoomOut;
          }

          .checkmark path {
            animation: drawCheckmark 0.5s linear alternate forwards;
          }
        }
      }
    }

    .promo {
      padding: 16px 0px 25px;
      margin: 0;

      &.mobile {
        display: block;
        margin-bottom: 10px;
        background-color: #f1f2f2;

        @media screen and (min-width: $tablet) {
          display: none;
        }
      }

      &.desktop {
        display: none;
        background-color: white;

        @media screen and (min-width: $tablet) {
          display: block;
        }
      }

      @media screen and (min-width: $tablet) {
        background-color: #fff;
      }

      h3 {
        text-align: center;
        color: #0090fc;
        margin-bottom: 18px;
        font-family: 'neuzeitgroteskblack';
        margin-bottom: 15px;
      }

      .text {
        text-align: center;

        p {
          display: inline-block;
          border: 2px solid #bcbec0;
          border-radius: 5px;
          background-color: white;
          color: #000;
          padding: 6px;
          font-family: 'neuzeitgroteskblack';
          font-weight: bold;
          padding: 6px 6px 6px;
          font-size: 12px;
        }
      }

      .code {
        text-align: center;

        p {
          font-size: 9px;
          border: none;
          padding: 0;
          text-align: center;
          background-color: transparent;
          display: inline-block;
          font-family: 'neuzeitgroteskblack';
          font-weight: bold;
          width: 70px;

          @media screen and (min-width: $tablet) {
            font-size: 11px;
          }
        }
      }
    }
  }

  .product-gallery {
    margin-bottom: 0px;

    @media screen and (min-width: $tablet) {
      .swiper-lazy-preloader {
        top: 200px;
      }
    }

    .column.thumbnail {
      width: 60px;
      max-width: 60px;
      display: none;

      a {
        display: inline-block;
      }

      @media screen and (min-width: $tablet) {
        display: block;
      }
    }

    .column.banner {
      text-align: center;
      width: 100%;
      height: 412px;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;

      @media screen and (min-width: $large-phone) {
        height: 472px;
      }

      @media screen and (min-width: $tablet) {
        width: 300px;
        min-height: 300px;
        padding: .75rem;
        height: auto;
      }

      .swiper-container {
        height: 400px;

        @media screen and (min-width: $large-phone) {
          height: 460px;
        }

        @media screen and (min-width: $tablet) {
          height: auto;
        }
      }

      .swiper-slide img {
        display: block;
        margin: 0 auto;
        height: inherit;

        @media screen and (min-width: $tablet) {
          height: auto;
          width: 100%;
        }
      }

      .loading {
        display: none;

        @media screen and (min-width: $tablet) {
          padding-top: 128px;
        }
      }
    }
  }

  .product-swatch {
    margin-bottom: 15px;

    .swatch {
      border: #e2e2e2 1px solid;
      margin: 0px 4px 4px 0;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      display: inline-block;
      padding: 3px;
      box-sizing: border-box;

      @media screen and (min-width: $tablet) {
        width: 28px;
        height: 28px;
        padding: 2px;
      }

      &.selected {
        border-width: 1px;
        border-color: #000;
        box-shadow: 0px 0px 0px 2px #fff;
        padding: 3px;

        @media screen and (min-width: $tablet) {
          padding: 1px;
          border-width: 2px;
        }
      }

      a {
        display: inline-block;
        min-height: 34px;
        min-width: 34px;
        width: 34px;
        height: 34px;
        border: #e2e2e2 2px solid;
        border-radius: 50%;
        background-position: center;
        background-size: cover;


        @media screen and (min-width: $tablet) {
          min-height: 22px;
          min-width: 22px;
          width: 22px;
          height: 22px;
        }
      }
    }
  }
}

@keyframes drawCheckmark {
  from {
    stroke-dashoffset: 19.79;
    opacity: 1;
  }
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes fadeInDown {0%{opacity:0;transform:translate3d(0,-20px,0)}to{opacity:1;transform:none}}.fadeInDown{animation-name:fadeInDown}
@keyframes zoomOut {0%{opacity:1}50%{opacity:0;transform:scale3d(.3,.3,.3)}to{opacity:0}}.zoomOut{animation-name:zoomOut}

.product-feature {
  padding: 26px 0;

  @media screen and (min-width: $tablet) {
    border-bottom: 1px solid #bdbdbd;
  }

  .container {
    @media screen and (min-width: $tablet) {
      max-width: 992px;
    }
  }

  ul {
    max-width: 992px;
    margin: 0;
    display: flex;

    li {
      float: left;
      flex: none;
      width: 33.3%;
      text-align: center;

      @media screen and (min-width: $tablet) {
        float: none;
        text-align: left;
      }

      &:last-child {
        @media screen and (min-width: $tablet) {
          width: 40%;
        }
      }

      span {
        display: inline-block;
        border: 1px solid #bdbdbd;
        border-radius: 50%;
        width: 44px;
        height: 44px;
        text-align: center;
        padding-top: 10px;
        color: #bdbdbd;
        margin-right: 20px;
        float: left;
        font-size: 20px;
        font-family: "neuzeitgroteskblack";
        line-height: 1.2;
        display: none;

        @media screen and (min-width: $tablet) {
          display: block;
        }
      }

      p {
        width: auto;
        display: inline-block;
        font-size: 16px;
        line-height: normal;
        font-family: neuzeit_grotesk_regular;
        font-weight: normal;

        &.text-mobile {
          display: block;
        }

        &.text-desktop {
          display: none;
        }

        @media screen and (min-width: $tablet) {
          display: inline-block;
          font-size: 20px;
          font-family: "neuzeitgroteskblack";
          line-height: 1.2;

          &.text-mobile {
            display: none;
          }

          &.text-desktop {
            display: block;
          }
        }
      }

      img {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 30px;

        @media screen and (min-width: $tablet) {
          display: none;
        }
      }
    }
  }
}

.product-tab {
  padding-top: 40px;

  .columns {
    margin: 0px;
  }

  .head {
    width: 100%;

    .container {
      @media screen and (min-width: $tablet) {
        padding: 0 10px;
      }
    }

    .columns {
      margin: 0px;
    }

    ul {
      @media screen and (min-width: $tablet) {
        border-bottom: 2px solid #afafaf;
      }
    }

    li {
      text-align: center;
      padding: 0;
      cursor: pointer;
      background-color: #f8f8f8;
      border: none;
      color: #bdbdbd;
      padding: 10px 0;
      font-family: "neuzeit_grotesk_regular";
      font-size: 17px;

      @media screen and (min-width: $tablet) {
        position: relative;
        bottom: -2px;
        color: #bdbdbd;
        font-weight: bold;
        background: #f8f8f8;
        height: 43px;
        border: 2px solid #d7d7d7;
        border-radius: 5px 5px 0px 0px;
        font-family: "neuzeitgroteskblack";
        border-bottom: 0px;
      }

      &:not(:last-child) {
        border-right: 1px solid #d7d7d7;

        @media screen and (min-width: $tablet) {
          margin-right: 13px;
          border-right: 2px solid #d7d7d7;
        }
      }

      &.active {
        position: relative;
        background-color: #0090fc;
        color: #fff;

        @media screen and (min-width: $tablet) {
          height: 45px;
          border-bottom: 0px;
          margin-bottom: 0px;
          color: #008ffd;
          background: #fff;
          border-color: #afafaf;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 0;
          height: 0;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-bottom: 5px solid #fff;
        }
      }
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .3s linear;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }

  .body-content.active {
    &.active {
      display: block;
    }
  }

  .about {
    padding-top: 30px;

    @media screen and (min-width: $tablet) {
      padding: 40px 0;
    }

    .top-video {
      padding: 0px 10px 40px 10px;
    }

    h2 {
      font-size: 28px;
      color: #008ffd;
      text-align: center;
      letter-spacing: 0.1px;
      font-family: "neuzeitgroteskblack";
      margin-bottom: 30px;
    }

    .videos {
      padding-bottom: 90px;

      .columns {
        @media screen and (min-width: $large-phone) {
          display: flex;
        }
      }
    }

    .videos .column {
      height: 430px;
      position: relative;
      overflow: hidden;
      padding: 0px;
      margin: 10px;

      @media screen and (min-width: $tablet) {
        height: 530px;
      }

      video {
        position: absolute;
        bottom: -120px;

        @media screen and (min-width: $large-phone) {
          bottom: -70px;
        }

        &.v3fix {
          bottom: -200px;

          @media screen and (min-width: 460px) {
            bottom: -360px;
          }

          @media screen and (min-width: $large-phone) {
            bottom: -70px;
          }

          @media screen and (min-width: $tablet) {
            bottom: -130px;
          }

          @media screen and (min-width: $desktop) {
            bottom: -280px;
          }
        }
      }

      p {
        position: absolute;
        bottom: 0px;
        width: 100%;
        text-align: center;
        padding: 10px 30px 40px 30px;
        font-weight: bold;
        font-size: 16px;
        font-family: "neuzeit_grotesk_regular";
        color: black;
      }
    }

    .highlights {
      background-color: #f7f7f7;

      .columns {
        display: flex;
        flex-direction: column-reverse;

        @media screen and (min-width: $tablet) {
          flex-direction: unset;
        }
      }

      .column.media {
        padding: 0px;
      }

      .column.text {
        text-align: center;
        max-width: 420px;
        margin: 0 auto;
        padding: 20px;

        @media screen and (min-width: $tablet) {
          text-align: left;
          max-width: none;
        }
      }

      @media screen and (min-width: $tablet) {
        .container {
          padding: 60px 0px;
        }
      }

      .column.media, .column.text {
        @media screen and (min-width: $tablet) {
          padding: 0px 20px;
        }
      }

      p.caption {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: 'neuzeit_grotesk_regular';
      }

      h3 {
        color: #0090fc;
        font-family: 'neuzeit_grotesk_regular';
        font-size: 26px;

        @media screen and (min-width: $tablet) {
          font-size: 36px;
          line-height: normal;
          margin: 10px 0;
        }
      }

      p {
        font-family: 'neuzeit_grotesk_light';
        font-size: 18px;
        color: black;
      }
    }
  }

  .specs {
    .columns {
      padding: 0 30px;
    }

    .column.text {
      text-align: center;

      @media screen and (min-width: $tablet) {
        text-align: left;
      }
    }

    h3 {
      font-family: neuzeit_grotesk_regular;
      font-size: 28px;
      font-weight: bold;
      color: #333333;
      letter-spacing: 2px;
      margin-bottom: 20px;
    }

    p {
      font-family: neuzeit_grotesk_light;
      font-weight: normal;
      font-size: 15px;
    }

    img {
      max-width: 420px;
      margin: 0 auto;
      display: block;
      width: 100%;

      @media screen and (min-width: $tablet) {
        max-width: none;
      }
    }
  }

  .reviews {
    .container {
      padding: 0 10px;
    }

    #stamped-main-widget {
      margin-top: 0px;
    }

    #stamped-reviews-widget, .stamped-product-reviews-badge {
      display: block;
      .stamped-style-color-text, .stamped-badge-caption {
        font-weight: bold;
        font-family: HelveticaNeue;
        margin-left: 15px;
      }
      &.only-mobile {
        display: none !important;
      }
      @media (max-width: 992px) {
        margin-bottom: 15px;
        &.only-mobile {
          display: block !important;
        }
        &.only-desktop {
          display: none !important;
        }
      }
    }
    .stamped-product-reviews-badge {
      display: block;
      @media (max-width: 992px) {
        margin-bottom: 15px;
        &.only-mobile {
          display: block !important;
        }
        &.only-desktop {
          display: none !important;
        }
      }
    }
    #stamped-verified-badge {
      display: block;
    }
    #stamped-reviews-widget[data-widget-type="site-badge"] .stamped-style-color-star i {
      color: #ffd200 !important;
    }
    .stamped-container {
      .stamped-header-title {
        line-height: 1;
        margin-bottom: 10px;
      }
      .stamped-header {
        .stamped-summary {
          .stamped-starrating {
            width: 300px;
            .stamped-summary-caption {
              display: inline-block;
              top: -5px;
              @media (max-width: 992px) {
                top:0;
              }
                position: relative;
                left: 10px;
              .stamped-summary-text-2 {
                  display: block !important;
                  font-family: HelveticaNeue;
                  font-size: 12px;
                  font-weight: bold;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: 0.1px;
                  color: #000000;
                  text-transform: uppercase;
                  &:after {
                    content: ' STARS';
                  }
              }
              .stamped-summary-text {
                display: none;
              }

            }
          }
          .stamped-summary-ratings {
            margin-top: -30px;
            width: 480px !important;
              float: right;
              border: none;
              margin-right: 0;
              .rating-count {
                font-family: HelveticaNeue;
                font-size: 12px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: 1.2px;
                color: #000000;
                margin-bottom: 20px;
                display: inline-block;
                &:first-child {
                  margin-right: 4px
              }
            }
              @media (max-width: 992px) {
                width: 100% !important;
            }
              .summary-rating-bar {
                width: 380px!important;
            }
            .summary-rating-count {
              width: 22px;
              font-family: HelveticaNeue;
                font-size: 12px !important;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #000000;
                width: 32px !important;
            }
            .summary-rating-title {
              font-family: HelveticaNeue;
                font-size: 12px !important;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #000000;
                width: 32px !important;
              &:before {
                content: '';
              }
              span {

                i {
                  color: #000000;
                }
              }

            }
            @media (max-width: 992px) {
                width: 100% !important;
                .summary-rating-bar {
                  width: calc(100% - 100px) !important;
              }
            }
          }
          .stamped-summary-photos {
            display: none;
          }
        }
      }
      .stamped-content {
        .stamped-tab-container {
          .stamped-tabs {
            .tab-reviews {
              .tab-questions {
                display: none;
              }
            }
            li.active {
              display:none;
            }
            @media (max-width: 992px) {
              border-bottom: 1px solid #bdbdbd;
            }
            border-bottom: none;
          }
          label[for="stamped-sort-select"] {
            width: 100%;
            height: 68px;
            border-bottom: 1px solid #eee;
            span {
              float: left;
                width: 80px;
                display: block;
                margin-top: 36px;
                font-family: "neuzeitgroteskblack";
                font-size: 20px;
                text-transform: lowercase;
            }
            #stamped-sort-select {
                float: left;
                background-color: transparent;
                border: none !important;
                background: transparent url('//cdn.shopify.com/s/files/1/0043/5558/8209/t/2/assets/select.png?7825526677049412639') no-repeat 96% 78% !important;
                font-size: 20px;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #008bf9;
                font-family: "neuzeitgroteskblack";
                text-transform: lowercase;
                padding-right: 30px;
                padding: 24px 30px 6px 34px;
                height: 49px;
                float: left;
                padding-left: 0px;
                margin-top: 12px;
            }
            @media (max-width: 992px) {
              background-color: transparent;
                text-align: center;
                display: block;
                margin: 0 auto;
                width: 130px;
                left: 0;
                height: 40px;
                top: 2px;
                width: 230px;
                border: none;
                span {
                  margin-top: 22px;
                }
                #stamped-sort-select {
                  height: 0;
                  padding: 10px 15px;
                  margin: 0 auto;
                  background: none;
                  background-image: url('//cdn.shopify.com/s/files/1/2603/2528/t/32/assets/icon-arrow-down-bg.svg') !important;
                  background-position: 110px -5px !important;
                  padding-left: 0;
              }
            }
            @media (max-width: 480px) {
              background-color: transparent;
                text-align: center;
                display: block;
                margin: 0 auto;
                width: 130px;
                left: 0;
                height: 40px;
                top: 2px;
                width: 260px;
                border: none;
                span {
                  margin-top: 22px;
                }
                #stamped-sort-select {
                  height: 100px;
                  padding: 10px 15px 0;
                  margin: 12px auto 0;
                  background: none;
                  background-image: url('//cdn.shopify.com/s/files/1/2603/2528/t/32/assets/icon-arrow-down-bg.svg') !important;
                  background-position: 100px -5px !important;
                  padding-left: 0;
                  background-size: 40px 50px !important;
              }
            }
          }
        }
        .stamped-reviews {
          .stamped-review {
            &:first-child {
              padding-top: 100px;
            }
            .stamped-review-header {
              .stamped-review-avatar {
                display: none;
              }
              .author {
                font-size: 25px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: normal;
                  color: #008ffd;
                  font-family: "neuzeitgroteskblack";
              }
              .stamped-review-header-starratings {
                margin-left: 300px;
                  margin-top: -24px;
                  display: block;
              }
              .created {
                  font-family: "Univers-Cn";
                  font-size: 12px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: condensed;
                  line-height: normal;
                  letter-spacing: 1.2px;
                  color: #525252;
              }
              .verified-badge {
                i {
                  font-size: 18px;
                  color: #96ceea;
                }
              }
              .verified-badge::after {
                display:none;
              }
              @media (max-width: 992px) {
                margin-left: 0;
                  margin-top: 0;
                  .stamped-review-header-starratings {
                  margin-left: 0px;
                    margin-top: 0px;
                    display: block;
                }

              }
            }
            .stamped-review-content {
              margin-left: 305px;
              .stamped-review-header-title {
                  font-family: "neuzeitgroteskblack";
                  font-size: 22px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  letter-spacing: -0.2px;
                  color: #211f1e;
                  margin-bottom: 17px;
                  margin-top: 10px;
              }
              .stamped-review-content-body {
                  font-family: "neuzeit_grotesk_light";
                  font-size: 20px;
                  font-weight: normal;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 1.2;
                  letter-spacing: normal;
                  color: #000000;
                  max-width: 550px;
                  margin-bottom: 80px;

              }
              .stamped-review-footer {
                .stamped-review-vote a {
                  font-family: HelveticaNeue;
                    font-size: 12px;
                    font-weight: bold;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 1px;
                    color: #0080df;
                    border: 2px solid #0080df;
                    padding: 13px 30px;
                    border-radius: 10px;
                    .stamped-fa-thumbs-down, .stamped-fa-thumbs-up {
                      color: #0080df;
                  }
                }
                .stamped-review-share {
                  i {
                    color: #008ffd;
                  }
                  @media (max-width: 992px) {
                    float: right !important;
                  }
                }
                @media (max-width: 992px) {
                  margin-top: 45px;
                  .stamped-review-vote {
                    float: left !important;
                      margin-top: -20px !important;
                  }
                  .stamped-review-vote a {
                    padding: 0px 0 0 0;
                      background: none;
                      border: none;
                      margin-left:0;

                  }
                }
                @media (max-width: 490px) {
                  margin-top: 45px;
                  .stamped-review-vote {
                    float: left !important;
                      margin-top: -70px !important;
                  }
                  .stamped-review-vote a {
                    padding: 0px 0 0 0;
                      background: none;
                      border: none;
                      margin-left:0;

                  }
                }

              }
              .stamped-review-image {
              }
              @media (max-width: 992px) {
                margin-left: 0;
              }
            }

          }
          .stamped-pagination {
            margin:80px 0 20px;
            li {
              a {
                font-family: HelveticaNeue;
                  font-size: 16px;
                  font-weight: 300;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: normal;
                  text-align: left;
                  color: #0080df;
              }
              &.active {
                a {
                  font-weight: bold;
                }
              }
              &.next, &.prev {
                a {
                  border-radius: 9px;
                    background-color: #008ffd;
                    color: #fff;
                    font-weight: bold;
                    color: #fff;
                    padding: 7px 10px 11px;
                }
              }
            }
          }
        }
      }

    }
    @media only screen and (max-width: 992px) {
      .stamped-header-title, .stamped-summary {
          text-align: center;
      }
    }
    @media only screen and (max-width: 992px) {
      .stamped-summary-starrating {
          float: none !important;
          margin-right: 0 !important;
      }
    }
    @media (max-width: 992px) {
      .summary-overview {
          width: 100%!important;
      }
      div[data-widget-style=standard] .stamped-summary-actions {
          position: initial !important;
          float: none !important;
          clear: both !important;
          display: inline-block !important;
          width: 100% !important;
          margin: 0 !important;
          padding: 0 !important;
      }
    }
    @media only screen and (max-width: 992px) {
      div[data-widget-style=standard] .stamped-summary-ratings {
          width: 100%!important;
          margin: 10px auto 20px!important;
      }
    }
    .new-review-form, .stamped-content form {
      background-color: #fff;
        z-index: 2;
        position: relative;
    }
  }

  .installation {
    padding-top: 30px;

    @media screen and (min-width: $tablet) {
      padding: 40px 0;
    }

    .videos {
      padding: 0 20px;
    }

    .video {
      overflow: hidden;
      padding-top: 56.25%;
      position: relative;
      margin-bottom: 30px;
    }

    iframe {
       border: 0;
       height: 100%;
       left: 0;
       position: absolute;
       top: 0;
       width: 100%;
    }
  }
}