@import "~bulma/sass/utilities/initial-variables.sass";
@import "../variables.scss";

.register {
  .container {
    padding-bottom: 50px;
  }

  h1 {
    color: #0090fc;
    font-family: 'neuzeitgroteskblack';
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0 auto 30px;
    padding: 0 1em;

    @media screen and (min-width: $tablet) {
      font-size: 36px;
      margin: 0 auto 50px;
      padding: 0;
    }
  }

  &.hide {
    display: none;
  }

  .signup-form {
    box-shadow: none;

    @media screen and (min-width: $tablet) {
      width: 340px;
      margin: 0 auto;
      padding: 0;
    }

    .errors {
      ul {
        list-style: disc outside;
        margin-bottom: 20px;
        font-family: 'neuzeit_grotesk_light';
        margin-left: 30px;

        li {
          font-size: 15px;
          color: #333333;
          line-height: 1.6em;
        }
      }
    }

    h2 {
      font-family: neuzeit_grotesk_regular;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      text-transform: none;
      line-height: 1.5;
      color: #333333;
      display: block;
      letter-spacing: 2px;
      margin-bottom: 20px;

      @media screen and (min-width: $tablet) {
        font-size: 25px;
      }
    }

    .field {
      margin-bottom: 15px;

      &:nth-child(7) {
        margin-bottom: 20px;
      }

      label {
        display: block;
        font-weight: bold;
        font-size: 13px;
        text-align: left;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-family: 'neuzeit_grotesk_light';

        a {
          color: #03a196;
          text-decoration: none;
          float: right;
          font-family: 'neuzeit_grotesk_light';
          text-transform: none;
          font-style: italic;
          font-weight: normal;
        }
      }

      input[type="email"], input[type="text"], input[type="password"] {
        box-shadow: none;
        height: 42px;
        border: 1px solid #cccccc;
        outline: none;
        background: #fff;
        color: #5f6a7d;
        font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        &:focus {
          border: 1px solid #aaa;
          color: #444;
        }
      }

      input[type="checkbox"] {
        float: left;
        margin-top: 4px;
        margin-right: 8px;
      }
    }

    input[type="submit"] {
      background: #ff085a;
      border-color: #ff085a;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: bold;
      letter-spacing: 1.2px;
      display: inline-block;
      padding: 0 20px;
      text-align: center;
      cursor: pointer;
      min-height: 42px;
      height: 40px;
      line-height: 1.2;
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      margin-right: 10px;
      float: left;
    }

    .returning-customer {
      font-family: 'neuzeit_grotesk_light';
      padding-top: 8px;
      float: right;
      font-size: 15px;

      a {
        color: #03a196;
      }
    }
  }
}