@import "~bulma/sass/utilities/initial-variables.sass";
@import "../variables.scss";

.reset-password {

  .slide-fade-enter-active {
    transition: all 1s ease;
  }

  .slide-fade-enter, .slide-fade-leave-to {
    transform: translate3d(0, 20px, 0);
    opacity: 0;
  }

  .container {
    padding-bottom: 50px;
    max-width: 300px;

    @media screen and (min-width: $tablet) {
      max-width: 960px;
    }
  }

  .form-success {

    &.hide {
      display: none;
    }
  }

  h1 {
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0 auto 60px;
    padding: 0 1em;
    font-family: neuzeit_grotesk_regular;
    color: #333333;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: bold;
    padding: 0;

    @media screen and (min-width: $tablet) {
      font-size: 36px;
      margin: 0 auto 50px;
      padding: 0;
    }
  }

  .reset-password-form {
    box-shadow: none;
    padding: 0;

    p {
      font-style: italic;
      text-align: center;
      font-family: 'neuzeit_grotesk_light';
      font-size: 15px;
      line-height: 1.6em;
      margin: 0 0 15px 0px;
    }

    @media screen and (min-width: $tablet) {
      width: 340px;
      margin: 0 auto;
      padding: 0;
    }

    &.hide {
      display: none;
    }

    .errors {
      ul {
        list-style: disc outside;
        margin-bottom: 20px;
        font-family: 'neuzeit_grotesk_light';
        margin-left: 30px;

        li {
          font-size: 15px;
          color: #333333;
          line-height: 1.6em;
        }
      }
    }

    .field {
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      label {
        font-family: 'neuzeit_grotesk_light';
        display: block;
        font-weight: bold;
        font-size: 13px;
        text-align: left;
        margin-bottom: 5px;
        text-transform: uppercase;
      }

      input[type="password"] {
        box-shadow: none;
        height: 42px;
        color: #5f6a7d;
        padding: 0 10px;
        margin: 0;
        line-height: 22px;
        border: 1px solid #cccccc;
        outline: none;
        background: #fff;
        color: #5f6a7d;
        font: 13px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

        &:focus {
          border-color: #aaa;
        }
      }
    }

    input[type="submit"] {
      background: #36807c;
      border-color: #36807c;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: bold;
      letter-spacing: 1.2px;
      display: inline-block;
      padding: 0 20px;
      text-align: center;
      cursor: pointer;
      min-height: 42px;
      height: 40px;
      line-height: 1.2;
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      margin-right: 5px;
    }
  }
}