<section class="section image-with-text">
  <div class="container">
    {% if section.settings.title != blank %}
      <h2>{{ section.settings.title}}</h2>
    {% endif %}

    {% if section.settings.image %}
      <div class="image-wrapper">
        <img class="lazyload" data-src="{{ section.settings.image | img_url: 'master' }}">
      </div>
    {% endif %}

    {% if section.settings.cta_text != blank %}
      <p class="cta">
        <a class="button" href="{{ section.settings.cta_link }}">
          {{ section.settings.cta_text}}
        </a>
      </p>
    {% endif %}
  </div>
</section>

{% schema %}
  {
    "name": "Image with Text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "CTA Text"
      },
      {
        "type": "url",
        "id": "cta_link",
        "label": "CTA Link"
      }
    ],
    "presets": [
      {
        "name": "Image with text",
        "category": "Image"
      }
    ]
  }
{% endschema %}
