<stamped-review>
  <template #title>
    <h2>{{ section.settings.title }}</h2>
  </template>

  <template #snippet>
    {{ section.settings.code_snippet }}
  </template>
</stamped-review>

{% schema %}
{
  "name": "Stamped Review",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "code_snippet",
      "label": "Stamped Snippet"
    }
  ],
  "presets": [
    {
      "name": "Stamped Review",
      "category": "Review"
    }
  ]
}
{% endschema %}